<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/validate.css">
  <link rel="stylesheet" href="/css/register.css">
  
</head>

<body>

    <%- include('./partials/header') %>  


    <!-- Empieza Main -->

  <div class=ct-register>
    <div class="main-body row">
     <form action="/users/changePassword?_method=PUT" method="POST" >
    
      <% if (typeof errors !== 'undefined') {
        errors.map(function(error){ %>
        <ul>
            <li style="color:red; margin-left:30px"><%= error.msg %></li>
        </ul>
    <% }) } %>
  
    <p id="Errores" style="color:red; margin-left:30px"></p>
        
        
    <!-------------------------------------->
    <div class="form-row">
        <div class="input-group w100">
            <h2>Establece una nueva contraseña</h2>
        </div>
        <div class="input-group w100 info">
          <p class="info">(Deberas inciar sesion nuevamente)</p>
        </div>
    </div>
    <div class="input-row">
      <div class="input-group w100">
        <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Entre 8 y 10 caracteres">
      </div>
    </div>
      <div class="input-row">
        <div class="input-group w100">
          <input type="password" class="form-control" id="inputPassword4" name="repeatPassword" placeholder="Repite la nueva contraseña">
      </div>
    </div>
    
    <input type="submit">
  </form>
  
  </div>
  </div>


  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>

    <script defer src="/javascripts/validator.js"></script>
    <script defer src="/javascripts/validateChangePassword.js"></script>
  

  </body>
</html>