<!DOCTYPE html>
<html>

<head>

    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/validate.css">
    <link rel="stylesheet" href="/css/login.css">
    

</head>
<body>
<%- include ('partials/header') %>

<!-- Empieza Main -->

<div class="login-form">
<h1>Iniciar Sesión</h1>
<form action="/users/login" method="POST">
    <% if (typeof errors !== 'undefined') {
        errors.map(function(error){ %>
        <ul>
            <li style="color:red; margin-left:30px"><%= error.msg %></li>
        </ul>
    <% }) } %>

    <p id="Errores" style="color:red; margin-left:30px"></p>

    <input type="text" name="email" id="email" placeholder="Username">
    
    <input type="password" name="password" placeholder="Password">
 
    <input type="submit">
    <p>No tenes cuenta? <a href="./register" class="card-link"><b>Registrate</b></a></p> 
</form>
</div>
  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>


<script defer src="/javascripts/validator.js"></script>
<script defer src="/javascripts/validateLogin.js"></script>
    
    
</body>
</html>