<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 -->
  <link rel="stylesheet" href="/css/products.css">
  
</head>

<body>

    <%- include('./partials/header') %> 

<!-- Empieza Main -->

    <div class="productos col-12">

      <div class="menu-dos">
				<nav class= "nav-dos">
          <% for (let i= 0; i<categorias.length; i++) { %>
            <a href="/categorias/<%=categorias[i].id%>" class="item-dos" category="<%=categorias[i].id%>"><%= categorias[i].name %></a>
          <% } %>
				</nav>
			</div>


      <div class="main-products row row-cols-1 row-cols-md-4">
        
          <% products.forEach(function(products) { %>
            
            <%- include('./partials/item', {products:products}) %>  
    
          <% }); %>
      
      </div>
    </div>


  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>
  
</div>
</body>

</html>