<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/productAdd.css">
  
</head>

<body>

    <%- include('./partials/header') %> 

    <!-- Empieza Main -->

    <div class="ct-add">
      <div class="main-body row">

        <form method="POST" action="/products/create" enctype="multipart/form-data">
          <h1>Formulario de Carga de Producto</h1>
          <div class="form-group">
            <label for="inputName" id="nameLabel">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="name">
          </div>
        
          <div class="form-group">
            <label for="inputState">Categoria</label>
            <select id="inputState" class="form-control" name="category">
              <% for(i = 0; i < categorias.length; i++) { %>
              <option value="<%= categorias[i].id %>"><%= categorias[i].name %></option>
              <% } %>
           </select>
          </div>

          <div class="form-group">
            <label for="inputState">Tipo</label>
            <select id="inputState" class="form-control" name="type">
              <% for(i = 0; i < tipos.length; i++) { %>
                <option value="<%= tipos[i].id %>"><%= tipos[i].name %></option>
                <% } %>
           </select>
          </div>
          
            <div class="form-group">
              <label for="TextareaDetalle" id="detailLabel">Detalle</label>
              <textarea class="form-control" id="TextareaDetalle" rows="3" name="detail"></textarea>
            </div>
      
            <div class="form-group">
              <label for="inputPrecio">Precio</label>
              <input type="number" class="form-control" id="inputPrecio" name="price">
            </div>
        

          <div class="input-group" id="foto">
            <label class="custom-file-label" for="validatedCustomFile" id="imageLabel">Agregar imagen...</label>
            <input type="file" class="custom-file-input" name= "image" id="validatedCustomFile" required>
          </div>
     
          <button type="submit">Agregar Producto</button>
        </form>
     
      </div>
    </div>
     
  <!-- pie -->
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %> 

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>



<script defer src="/javascripts/validator.js"></script>
<script defer src="/javascripts/validateProduct.js"></script>
  
</body>
</html>