<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/productDetail.css">
  
</head>

<body>

    <%- include('./partials/header') %> 

<!-- Detalle de producto -->
<div class="contenedor-padre">

  <h1><%= product.name %></h1>
  <div class="imagen">
    <img src="/img/products/<%= product.image %>" alt="imagen-producto" width="250px" height="200px">
  </div>
  <div class="info">
    <p class="descripcion">Descripción: <%= product.detail %></p>
    <form>
      <p>¿Qué Cantidad?</p>
      <div class="seleccion"> 
        <div class="seleccion-1">
          <input type="radio" id="contactChoice1"
          name="contact" value="email">
          <label for="contactChoice1"> <%= tipo.quantity %> PIEZAS ⎮ $ <%= tipo.price %></label>
        </div>

        <!--
        <div class="seleccion-1">
          <input type="radio" id="contactChoice1"
          name="contact" value="email">
          <label for="contactChoice1">8 PIEZAS ⎮ $ 499</label>
        </div>
        <div class="seleccion-2">
          <input type="radio" id="contactChoice2"
          name="contact" value="phone" checked>
          <label for="contactChoice2">16 PIEZAS ⎮ $ 799</label>
        </div>
        <div class="seleccion-3">
        <input type="radio" id="contactChoice3"
        name="contact" value="tel">
        <label for="contactChoice3">32 PIEZAS ⎮ $ 999</label>
        </div>
        -->
      </div>
    </form> 
   
    <a href= "/products/cart" class="añadir">AÑADIR AL CARRITO</a>
    <% if(isAuthenticated && role == 1) { %>
      <div class="edicion">
        <a href="/products/edit/<%= product.id %>" class="editar">EDITAR PRODUCTO</a>
          <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
            <button type="submit" class="eliminar">ELIMINAR</button>
          </form>
      </div>
    <% } %>
  </div> 
</div>

  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>
  

</body>

</html>