<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/products.css">
  
</head>

<body>

    <%- include('./partials/header') %> 

<!-- Empieza Main -->

    <div class="productos col-12">

        <div class="nav-menu">
            <ul>
              <li>
                <a href="#rolls">Rolls</a>
              </li>
              <li >
                <a  href="#tablas">Nuestras Tablas</a>
              </li>
              <li >
                <a  href="#">Niguiris</a>
              </li>
              <li >
                <a  href="#">Sashimis</a>
              </li>
            </ul>
          </div>

      <div class="titulo-producto">
          <h1 id="rolls">ROLLS</h1>
      </div>

      <div class="main-products row row-cols-1 row-cols-md-4">

          <% products.forEach(function(products) { %>
            
          <%- include('partials/item', {products: products}); %>
    
          <% }); %>
      
      </div>
    </div>


  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>
  
</div>
</body>

</html>