<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/validate.css">
  <link rel="stylesheet" href="/css/productEdit.css">
  
</head>

<body>

    <%- include('./partials/header') %> 

    <!-- Empieza Main -->

    <div class=ct-edit>
      <div class="main-body row">

        <form action="/products/edit/<%= products.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <h1>Formulario de Edición de Producto</h1>

          <p id="Errores" style="color:red; margin-left:30px"></p>
                    
          <div class="form-group">
            <label for="inputName" id="nameLabel">Nombre</label>
            <input type="text" class="form-input" id="inputNombre" name="name" value="<%= products.name %>">
          </div>
        
          <div class="form-group">
            <label for="category">Categoria</label>
            <select id="inputCategory" name="category">  
              <% for (let i=0; i< categorias.length; i++){ %>
                <% if (categorias[i].id == products.category_id){ %>  
                <option value="<%=categorias[i].id%>" selected><%= categorias[i].name %></option>
                <% } else {%>   
                  <option value="<%= categorias[i].id %>"><%= categorias[i].name %></option>
            <% } %>    
              <%}%>
            </select>      
          </div>

          <div class="form-group">
            <label for="type">Tipo</label>
            <select id="inputType" name="type">  
              <%for (let i=0; i< tipos.length; i++){ %>
                <%if (tipos[i].id == products.type_id){ %>  
                <option value= "<%=tipos[i].id%>" selected><%= tipos[i].name %></option>
                <% } else {%>  
                <option value= "<%=tipos[i].id%>"><%= tipos[i].name %></option>
                <%}%>    
              <%}%>
            </select>  
          </div>
     
          <div class="form-group">
            <label for="TextareaDetalle" id="detailLabel">Detalle</label>
            <textarea class="form-control" id="TextareaDetalle" rows="3" name="detail"><%= products.detail %></textarea>
          </div>
     
          <div class="form-group">
            <label for="inputPrecio">Precio</label>
            <%for (let i=0; i< tipos.length; i++){ %>
              <%if (tipos[i].id == products.type_id){%>
              <input type="number" class="form-control" id="inputPrecio" name="price" value="<%= tipos[i].price %>">
              <%}%>
            <%}%>          
          </div>
     
          <div class="foto">
            <img src="/img/products/<%= products.image %>" alt="product image" class="product-detail-img" width="200px" height="150px">
          </div>  
          
          
          <div class="custom-file">
            <label class="custom-file-label" for="validatedCustomFile" id="imageLabel">Modificar imagen...</label>
            <input type="file" class="custom-file-input" name= "image" id="validatedCustomFile">
          </div>
             
          <button type="submit">Guardar Cambios</button>
        </form>

		
      </div>
    </div>
     
  <!-- pie -->
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %> 

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>

<script defer src="/javascripts/validator.js"></script>
<script defer src="/javascripts/validateProduct.js"></script>
  
</body>
</html>