<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/productDetail.css">
  
</head>

<body>

    <%- include('./partials/header') %> 

<!-- Detalle de producto -->

    <div class="container products-wrapper">

      <div class="product-detail">
        <div class="row">
          <div class="col-8">
            <img src="/img/<%= product.image %>" alt="product image" class="product-detail-img">
          </div>

          <div class="product-detail-text col-4">
              <h2 class="product-detail-title"><%= product.name %></h2>
                <p class="product-detail-price">
                  <b>$ <%= product.price %></b>
                </p>
            <div class="product-detail-description">
              <p><b>Detalle del producto:</b> <%= product.detail %></p>
            </div>
            <div class="btn-actions align-bottom">
              <a href="/products/cart" class="btn btn-primary">AGREGAR AL CARRITO</a>
              <hr>  
              <a href="/products/edit/<%= product.id %>" class="btn btn-info">EDITAR PRODUCTO</a>
              <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="btn btn-danger">ELIMINAR</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>
  

</body>

</html>