<!DOCTYPE html>
<html>

<head>

  <%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/productCart.css">
  
</head>

<body>
    
    <%- include('./partials/header') %> 

    <!-- Empieza Main -->
    <div class="contenedor-padre">
    
      <div class="cart">
        <h1>TU PEDIDO</h1>
    
        <div class="pedido-1">
          <div class="imagen">
            <img src="/img/products/<%= product.image %>" alt="imagen-producto" width="250px" height="200px">
          </div>
          <div class="descripcion">
            <div class="producto ">
              <h2 class="col-12"><%= product.name %></h2>
              <p>Descripcion: <%= product.detail %></p>
            </div>
            <div class="cantidad">
              <form>
                <p>QUERES MODIFICAR LA CANTIDAD?</p>
                <div class="seleccion">
                  <div class="seleccion-1">
                    <input type="radio" id="qtyChoice" name="qty" checked>
                    <label for="qty"> <%= product.product_types.quantity %> PIEZAS</label>
                  </div>
                </div>
              </form>
              <div class="precio">
                <span>$<%= product.product_types.price %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="resumen">
        <h3>RESUMEN DE COMPRA</h3>
        <div class="datos">
          <div class="subtotal">
            <h4>SUBTOTAL</h4>
            <p>$<%= product.product_types.price %></p>
          </div>
          <div class="envio">
            <h4>ENVIO</h4>
            <p>$ 0</p>
          </div>
          <div class="promocion">
            <h4>Código Promocional</h4>
            <form>
              <input type="text" name="codigo" placeholder="Ingresa tu código">
              <input type="submit" value="Aplicar">
            </form>
          </div>
          <div class="total">
            <h4>TOTAL</h4>
            <p>$<%= product.product_types.price %></p>
          </div>
          <form action="/products/checkout/<%= product.id %>" method="POST">
            <button type="submit">FINALIZAR COMPRA</button>
          </form>
        </div>
      </div>
    </div>
  

    <!-- pie -->
 
  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>

  <script>
    $(function() {
      $(".toggle").on("click", function() {
          if ($(".item").hasClass("active")) {
              $(".item").removeClass("active");
              $(this).find("a").html("<i class='fas fa-bars'></i>");
          } else {
              $(".item").addClass("active");
              $(this).find("a").html("<i class='fas fa-times'></i>");
          }
      });
    });
    </script>

  </body>
</html>