<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %>

    <link rel="stylesheet" href="/css/userId.css">

</head>
    <body>

    <%- include ('partials/header') %>

<!-- Empieza Main -->

    <%- include ('partials/userId') %>

<!-- pie -->
 
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>

    <script>
        $(function() {
          $(".toggle").on("click", function() {
              if ($(".item").hasClass("active")) {
                  $(".item").removeClass("active");
                  $(this).find("a").html("<i class='fas fa-bars'></i>");
              } else {
                  $(".item").addClass("active");
                  $(this).find("a").html("<i class='fas fa-times'></i>");
              }
          });
        });
        </script>

    </body>
</html>