<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %>

    <link rel="stylesheet" href="/css/profile.css">

</head>
    <body>

    <%- include ('partials/header') %>

<!-- Nuevo Main -->

<div class="ct-profile">
  <div class="user-info">
    <div class="user-main">
      <div class="avatar">
        <img src="/img/users/<%= user.image %>" class="avatar-img">
      </div>
      <div class="user-name">
        <h1><%= user.first_name %> <%= user.last_name %></h1>
      </div>
      <div class="main-info">
        <div class="main-phone">
          <i class="fas fa-phone-square-alt fa-2x"></i> <p><%= user.phone %></p>
        </div>
        <div class="main-email">
          <i class="far fa-envelope fa-2x"></i><p><%= user.email %></p>
        </div>
      </div>
    </div>

    <hr>
    <div class="user-detail">
      <ul>
        <h2>Domicilio</h2>
        <hr>
        <li class=""><strong>Calle: </strong> <%= user.street_name %> <%= user.street_number %></li>
        <li class=""><strong>Entre calles: </strong><%= user.cross_street_name %></li>
        <li class=""><strong>Localidad: </strong><%= user.city %></li>
        <li class=""><strong>Barrio: </strong><%= user.neighborhood %></li>
      </ul>
      <div class="btn-logout">
        <a href="./logout">Cerrar Sesión</a>
      </div>
    </div>
  </div>

  <div class="account-detail">
    <div class="account-status">
      <div class="options-title">
        <h2>Administrar Perfil</h2>
        <hr>
      </div>
      <div class="options-list">
        <div class="edit-profile">
          <p>Modifica tus Datos</p>
          <a href="./edituser">Editar</a>
        </div>
        <div class="edit-password">
          <p>Cambiar Contraseña</p>
          <a href="./changepassword">Editar</a>
        </div>
        <% if(isAuthenticated && role == 1) { %>
        <div class="create-product">
          <p>Agregar un Producto</p>
          <a href="/products/create">Crear</a>
        </div>
        <% } %>
      </div>
    </div>
    <div class="orders-history">
      <div class="orders-list">
        <h2>Mis Pedidos</h2>
        <hr>
        <div class="pedidos">
            <div class="order-item">
              <div class="order-date">
                <p class="row-header">Fecha de Compra</p>
                <% orders.forEach( order => { %>
                <p><%= moment(order.purchase_date).format( 'DD/MM/YYYY') %></p>
                <% }) %>
              </div>
              <div class="product-name">
                <p class="row-header">Producto</p>
                <% orders.forEach( order => { %>
                <p><%= order.id %></p>
                <% }) %>
              </div>
              <div class="product-detail">
                <p class="row-header">Detalle</p>
                <% orders.forEach( order => { %>
                <p>DETALLE DE PRODUCTO</p>
                <% }) %>
              </div>
              <div class="purchase-price">
                <p class="row-header">Precio</p>
                <% orders.forEach( order => { %>
                <p><%= order.purchase_total %></p>
                <% }) %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pie -->
 
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>

    <script>
        $(function() {
          $(".toggle").on("click", function() {
              if ($(".item").hasClass("active")) {
                  $(".item").removeClass("active");
                  $(this).find("a").html("<i class='fas fa-bars'></i>");
              } else {
                  $(".item").addClass("active");
                  $(this).find("a").html("<i class='fas fa-times'></i>");
              }
          });
        });
        </script>

    </body>
</html>