<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/userId.css">
</head>
<body>
    <div class="container-fluid"></div>
        <%- include ('partials/header') %>

<!-- Empieza Main -->
        <%- include ('partials/userId') %>
    
</div>


<!-- pie -->
 
    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>
</html>