<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/userId.css">

</head>
    <body>

    <%- include ('partials/header') %>

<!-- Empieza Main -->

<div class="card" style="width: 18rem;">
    <img src="/img/users/<%= user.image %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= user.name %> <%= user.lastName %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">TELEFONO <%= user.phone %></li>
      <li class="list-group-item">DOMICILIO <%= user.street_name %> <%= user.street_number %></li>
      <li class="list-group-item">ENTRE CALLES <%= user.cross_street_name %></li>
      <li class="list-group-item">LOCALIDAD <%= user.city %></li>
      <li class="list-group-item">BARRIO <%= user.neighborhood %></li>
    </ul>
    <div class="card-body">
      <a href="./changepassword" class="card-link">EDITAR CONTRASEÑA</a><BR>
      <a href="./edituser" class="card-link">EDITAR PERFIL</a><BR>
      <a href="./logout" class="card-link">CERRAR SESION</a>
  
    </div>
  </div>

<!-- pie -->
 
    <%- include('./partials/footer') %>

    <%- include('./partials/scripts') %>

    <script>
        $(function() {
          $(".toggle").on("click", function() {
              if ($(".item").hasClass("active")) {
                  $(".item").removeClass("active");
                  $(this).find("a").html("<i class='fas fa-bars'></i>");
              } else {
                  $(".item").addClass("active");
                  $(this).find("a").html("<i class='fas fa-times'></i>");
              }
          });
        });
        </script>

    </body>
</html>